# Git and OS files
.git
.DS_Store

# Node.js
node_modules
npm-debug.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDE folders
.vscode/
.idea/

# Build artifacts (if not needed in context)
dist
build